html, body {
    margin: 0;
    padding: 0;
}

.art {
    background-image: url("./../assets/reddit__login_art.png");
    background-size: cover;
}

.no-paddings {
    padding: 0;
}

.full-height {
    height: 100vh;
    min-height: 430px;
}

.no-margin {
    margin: 0 !important;
}

.flex-or-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr {
    width: 100px;
}